environs[django]==9.5.*
django==4.1.*
psycopg2-binary==2.9.5
django-debug-toolbar
Faker
flake8
flake8-isort
django-dbbackup
djangorestframework==3.14.0
drf-nested-routers
django-filter
drf_yasg
django-phonenumber-field[phonenumbers]==7.0.*
sorl.thumbnail==12.9.*
Pillow==9.4.*
django-cleanup==7.0.*
django-rest-knox==4.2.*